@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HeaderContainer {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
}

.peterEnglandIcon {
     margin: -1px 0px 0px 105px;
}

.varients {
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    align-items: center;
}


.searchBar {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 15vw;
    min-width: 150px;
    border-bottom: 1px solid #000;
}

.searchIcon {
    width: 26px;
    height: 26px;
    color: #000;
}

.searchInput {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
}

.searchInput::placeholder {
    color: #000;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
}

.expressDeliveryContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-left: 15px;
    width: 233px;
    height: 45.6px;
    padding: 2px, 2px, 2px, 15px;
    border-radius: 23px;
    background: linear-gradient(103deg, #333 10%, #000 111%);

}

.adityaBirlaLogo {
    margin-top: 4px;
    margin-right: 0px;
}

.rightPartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.express {
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
    color: #FFFFFF;
    margin-left: 10px;
}

.nearest {
    font-size: 10px;
    font-family: 'Cabin', sans-serif;
    color: #21AB7A;
    margin-left: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.truck {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
}

.truck svg {
    width: 30px;
    height: 30px;
}